name: CI Playwright
on:
  push:
    branches: [main,master]
  pull_request:
    branches: [main,master]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: python -m pip install --upgrade pip
      run: pip install -r requirements.txt

    - name: Instala navegadores/dependencias
      run: playwright install --with-deps

    - name: Ejecutar pruebas
      run: pytest -s -m contalink

    - name: Upload Report
      uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30